.menuListContainer{
    width: 15%;
    margin: 0px auto;
    padding: 0;
    background-color: green;
}

.menuList{
    display: flex;
    flex-direction: column;
    background-color: green;
    align-items: center;
    margin: 0px auto;
    padding: 0;
}

.menuItem{
    width: 100%;
    margin-top: 5px;
    text-align: center;
}