.message{
    margin-top: 10px;
}

.dontYourMessage{
    width:40%;
    margin-left: 20px;
    background-color: red;    
}

.yourMessage{
    width: 40%;
    margin-left: auto;
    margin-right: 20px;
    background-color: green;
}