.mainImgContainer{
    height: 300px;
    width: 100%;
}

.mainImgContainer > img{
    height: 100%;
    width: 100%;
}

.userInfoContainer{
    display: flex;
    margin-top: 30px;
}

.test{
    width: 20%;
}

.userInfoContainer img{
    width: 80%;
    border-radius: 50%;
}

.userInfoName h2{
    margin-top: 10px;
}

.userInfo{
    display: flex;
}